#Contact{
    /* flex:1; */
    padding:20px;
    display:flex;
    flex-direction: column;
    gap:10px;
    grid-area: Contact;
    background-color: #072b47;
    color: #eff3f3;
    text-align: left;
    height: 250px;
    position:relative;
}

#Contact div{
    border-bottom: 1px #b4bcbf solid;
}

#Contact #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#Contact #header svg{
    width:30px; 
    height:30px;
    transition: .3s;
}

#Contact #header svg:hover{
    transform: scale(1.25);
}
#Contact #plus{
    position: absolute;
    top:20px;
    right:1px;
}
#update-contact{
    flex-direction: column;
    position: absolute;
    z-index: 7;
    padding:10px;
    background-color: #2393ac;
    opacity: .92;
    color: white;
    align-items: flex-start;
}
#update-contact #heading{
    display: flex;
    justify-content: space-between;
    border: none;
    padding-bottom: 20px;
    width: 100%;
}
/* Target first child */
#Contact #header {
    border-top:1px #b4bcbf solid;
}

  @media print {
    #edit-contact {
        display:none;
    }
    #plus{
        display: none;
    }
    #Contact #header svg{
        display: none;
    }
  }