#HeadShot{
    padding:20px;
    height:250px;
    box-sizing: border-box;
    grid-area: HeadShot;
    background-color: #072b47;
    color: #eff3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

#profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#profile-img{
    width: 150px;
    height:150px;
    border-radius: 50%;
    background-image: url('https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG1vZGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

#edit-profile{
    display: flex;
    flex-direction: column;
    background-color: #2393ac;
    padding: 10px;
}

#HeadShot .plus{
    position: absolute;
    left:50px;
    top:40px;
    background-color: #2393ac;
    opacity: .95;
}
.plus, #profile svg{
    transition: .3s;
}

.plus, #profile svg:hover{
    transform: scale(1.25);
}

@media print {
    .plus, #profile svg{
        display:none;
    }
}