#Experience{
    /* padding: 20px; */
    grid-area: Experience;
    height: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #eff3f3;
    opacity:.92;
    position: relative;
    z-index: 3;
}

textarea {
    resize: none;
   }

#Experience h2{
    border-bottom: solid 1px #2393ac;
    border-top:solid 1px #2393ac;
    color: #2393ac;
}

#Experience ul{
    padding-top: 12px;
    list-style-type: none; 
    display: flex;
    flex-direction: column;
    gap:25px;
    overflow: hidden;
    max-width: 1000px;
}

#Experience ul li{
    display: grid;
    /* border: black 2px solid; */
    padding-left: 5px ;
    grid-template-columns: 250px 200px 200px 10px;
    grid-template-areas: 
    "date   company     company            delete"
    "title  details     details     ."
    ".      details     details     .";
    gap:10px;
    height:100px;
}

#Experience ul li #date{
    grid-area: date;
}

#Experience ul li #title{
    grid-area: title;
}
#Experience ul li #company{
    grid-area: company;
}
#Experience ul li #details{
    grid-area: details;
    max-width: 400px;
    word-wrap: break-word;
    white-space: pre-wrap;
}
#Experience ul li #location{
    grid-area: location;
}
#Experience ul li #delete{
    grid-area: delete;
    transition: .3s;
    margin-left: 50px;
}

#Experience ul li img:hover{
    fill:#eff3f3;
    transform: scale(1.25);
}

#Experience .plus{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top:-50px;
    left:80px;
}

.plus #add-experience{
    display: flex;
    align-items: center;
    background-color: #2393ac;
    justify-content: center;
    height:250px;
    width:625px;
    z-index: 7;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header header  header  header"
    ".      .       details details"
    ".      .       details details"
    "submit submit  submit  submit"
    ;
    color: white;
}

#Experience #add-experience input[type=submit]{
    grid-area: submit;
    margin-top: 10px;
    align-self: center;
}

#add-experience #heading{
    grid-area: header;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#add-experience div{
    display: flex;
    flex-direction: column;
}

#experience-details{
    grid-area: details;
    justify-self: flex-end;
    height: 90%;
    width: 100%;
}

#experience-details textarea{
    height: 100%;
    border-radius: 6px;
    opacity: .92;
}

#Experience ul li #delete {
    fill:#072b47;
}

@media print {
    #Experience ul li #delete {
        display:none;
    }
    #Experience .plus{
        display:none;
        opacity: 0;
    }
    #Experience .plus *{
        display:none;
    }
}