*{
  margin: 0;
  padding: 0;
  /* border: solid 1px blue; */
  font-family: 'Karla', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

body{
  
}

img{
  fill:currentColor;
}

.App{
  /* top: 45%;    
  left: 50%; 
  transform: translate(-50%, -50%);
  position: absolute; */
  background-image: url("./background-img.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin:auto;
  width:1100px;
  max-height:1420px;
}

.resume{
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas: 
  "HeadShot About"
  "Contact  Education"
  "Skills   Experience"
  ;
  margin: auto;
  z-index:3;
  max-width: 1000px;
  min-height:750px;
  padding: 20px;
  overflow: hidden;
}

.nav{
  border: solid pink 1px;
  display: flex;
  position: absolute;
  width: 1100px;
  background-color: #062946;
}

svg{
  transition: .3s
}
svg:hover{
  transform: scale(1.5);
}

input[type=text]{
  height:10px;
}
input[type=submit]{
  height:30px;
}

@media print {
  @page { size: auto;  margin: 0mm; }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .App{
    height:1420vh;
  }
  .nav{
    display:none;
  }
  .wrapper{
    display: none;
  }
}